<div class="container my-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card p-3 shadow-sm">
        <h5 class="card-title text-center mb-3">Lista Candidati</h5>
        @for (c of candidati;track $index)
        {
        <div>
          <p [ngStyle]="{'text-decoration': c.visible ? 'none' : 'line-through' }" [style.color]="c.visible ? 'white' : 'red'" class="mb-1">
            {{ c.nominativo }}
          </p>
        </div>
        }
        <div class="text-center my-4">
          <img [src]="immaginiRuota[ruotaGira ? 1 : 0]" width="300" height="300" alt="Ruota che gira" class="img-fluid rounded">
        </div>
        <div class="d-grid">
          <button class="btn btn-primary btn-lg" (click)="chiamaVolontario()">CHIAMA VOLONTARIO</button>
        </div>
      </div>
    </div>
  </div>
</div>
